In [1]:
# Programmer: Johnny L Hopkins 
# Date: June 30, 2019
# Revised: June 1, 2019 
# This program demonstrates the use of
# Pandas to calculate descriptive statistics on
# a data frame.

In [12]:
# To calculate stats on a data frame, 
# import Pandas as shown here
import pandas as pd 

# Next, create the data frame
data = {'Milage': [37.3, 54.5, 60.6, 25.9]}

# To see how our data frame looks, 
# output the data in a table.The df declaration
# is a placeholder to output the table. 
df = pd.DataFrame(data)

# We now can start calculating descriptive statistics 
# on our Milage data frame. 
print(df.describe()) 

# The describe() method did not output the variance, 
# so we call the var() function. 
print(df.var())


# Print out data frame
df

          Milage
count   4.000000
mean   44.575000
std    15.884872
min    25.900000
25%    34.450000
50%    45.900000
75%    56.025000
max    60.600000
Milage    252.329167
dtype: float64

   Milage
0    37.3
1    54.5
2    60.6
3    25.9